@import url('https://fonts.googleapis.com/css?family=Poppins:300,600');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  color: #444;
  font-size: 1.1rem;
}

h1{
  font-size: 5rem;
  color: #0F9;
  text-transform: uppercase;
  letter-spacing: 15px;
  outline: 3px solid #fff;
  outline-offset: 0.25em;
  display: inline-block;
  margin: 0.25em 0 0.5em;
}

h1 span{
  font-weight: 300;
}

h2{
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

p span{
  color: #0F9;
}

.btn{
  display: inline-block;
  padding: 0.7em 1.7em;
  background: #0F9;
  color: #444;
  font-weight: 600;
  text-decoration: none;
}

.btn:hover{
  background: #00cc7a;
}

.hero{
  background-color: #444;
  background-image: url(//unsplash.it/1000/600);
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  padding: 1em;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sales-points{
  padding: 12vh 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media (min-width: 40rem) {
  .sales-points{
    flex-direction: row;
  }
}

.sales-point{
  flex-basis: 30%;
}

.cta{
  background-image: url(//unsplash.it/600/400);
  background-size: cover;
  padding: 10vh 0;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.cta-text{
  flex-basis: 100%;
  padding: 0 2em;
}
@media (min-width: 40rem) {
  .cta-text{
    flex-basis: 50%;
  }
}